@inject NavigationManager NavigationManager
@using Blazored.LocalStorage
@using System.Text.Json
@using Microsoft.Extensions.Localization
@layout MainLayout
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject IJSRuntime JS
@inject IStringLocalizer<AcceInfo_Web.Pages.Index> Localizer


    <!-- Navbar Custom Menu -->
    <div class="navbar-custom-menu">

        <div class="container-fluid">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu list-unstyled">

                    <li class="has-submenu">
                        <a href="/">
                            <i class="mdi mdi-home"></i>
                        @(Localizer["Home"].ResourceNotFound ? "Missing" : Localizer["Home"])
                        </a>
                    </li>

                    <li class="has-submenu">
                    <a href="#"><i class="mdi mdi-apps"></i>@(Localizer["Products & Services"].ResourceNotFound ? "Missing" : Localizer["Products & Services"])</a>
                    </li>

                    <li class="has-submenu">
                    <a href="#"><i class="mdi mdi-buffer"></i>@(Localizer["MyAccounts"].ResourceNotFound ? "Missing" : Localizer["MyAccounts"])</a>
                        <ul class="submenu">
                        <li><a href="#">@(Localizer["AccountSummary"].ResourceNotFound ? "Missing" : Localizer["AccountSummary"])</a></li>
                        <li><a href="#">@(Localizer["ProfileAccountSettings"].ResourceNotFound ? "Missing" : Localizer["ProfileAccountSettings"])</a></li>
                        </ul>
                    </li>

                    <li class="has-submenu">
                    <a href="/transfer-funds"><i class="mdi mdi-cards-playing-outline"></i>@(Localizer["PaySendReceiveMoney"].ResourceNotFound ? "Missing" : Localizer["PaySendReceiveMoney"])</a>
                    </li>
                </ul>
                <!-- End navigation menu -->
            </div> <!-- end navigation -->
        </div> <!-- end container-fluid -->
    </div>
    <!-- end left-sidenav-->
