@inject NavigationManager NavigationManager

<div class="col-lg-3 left-side-nav-slider">
    <div class="card card-dt">
        <div class="card-body profile-nav">
            @* <button class="close-menu-button" onclick="toggleMenu()"></button> *@

            <div class="nav flex-column nav-pills" id="profile-tab" aria-orientation="vertical">
                <h5 class="my-4">Pay, Send & Receive Money</h5>

                <a class="nav-link highlight-files @GetActiveClass("/pay-bill")" href="/pay-bill">Pay a Bill</a>
                <a class="nav-link highlight-files @GetActiveClass("/transfer-funds")" href="/transfer-funds">Transfer Money</a>
               
                <a class="nav-link highlight-files @GetActiveClass("/send-e-transfer")" href="/send-e-transfer"><em>Send an Interac e-Transfer</em></a>

                <a class="nav-link @GetActiveClass("/send-money")" href="/send-money">Send money</a>
                <a class="nav-link @GetActiveClass("/send-international")" href="/send-international">Send International Money Transfer</a>
                <a class="nav-link @GetActiveClass("/receive-wire-transfer")" href="/receive-wire-transfer">Receive a Wire Transfer</a>

                <a class="nav-link highlight-files @GetActiveClass("/pay-multi-bills")" href="/pay-multi-bills">Pay Multiple Bills</a>
                <a class="nav-link @GetActiveClass("/request-money")" href="/request-money">Request Money</a>

                <a class="nav-link @GetActiveClass("/autodeposit")" href="/autodeposit">Register for <em>Interac</em> e-Transfer AutoDeposit</a>
                <a class="nav-link @GetActiveClass("/transfer-to-us")" href="/transfer-to-us">Transfer Funds to ACCE US Banking</a>
                <a class="nav-link @GetActiveClass("/transfer-to-investing")" href="/transfer-to-investing">Transfer to Direct Investing or InvestEase</a>

                <h5 class="my-4">Manage Payments & Transfers</h5>
                <a class="nav-link highlight-files @GetActiveClass("/transaction-history")" href="/transaction-history">Transaction History</a>
                <a class="nav-link @GetActiveClass("/manage-postdated-transactions")" href="/manage-postdated-transactions">Manage Postdated Transactions</a>
                <a class="nav-link @GetActiveClass("/cancel-bill-payment")" href="/cancel-bill-payment">Cancel Bill Payment</a>
                <a class="nav-link @GetActiveClass("/cancel-e-transfer")" href="/cancel-e-transfer"><em>Cancel Interac e-Transfer</em></a>

                <h5 class="my-4">Add Payees & Recipients</h5>
                <a class="nav-link @GetActiveClass("/add-bill-payee")" href="/add-bill-payee">Add Bill Payee</a>
                <a class="nav-link @GetActiveClass("/add-cra-payee")" href="/add-cra-payee">Add Canada Revenue Agency Payee</a>
                <a class="nav-link @GetActiveClass("/add-e-transfer-recipient")" href="/add-e-transfer-recipient"><em>Add Interac e-Transfer Recipient</em></a>
                <a class="nav-link @GetActiveClass("/add-international-recipient")" href="/add-international-recipient">Add International Money Transfer Recipient</a>
                <a class="nav-link @GetActiveClass("/add-other-customer")" href="/add-other-customer">Add Other ACCE Bank Customer</a>

                <h5 class="my-4">Manage Payees & Recipients</h5>
                <a class="nav-link highlight-files @GetActiveClass("/manage-payees")" href="/manage-payees">Manage Payees</a>
                <a class="nav-link @GetActiveClass("/manage-intl-recipients")" href="/manage-intl-recipients">Manage International Money Transfer Recipients</a>
                <a class="nav-link highlight-files @GetActiveClass("/manage-contact")" href="/manage-contact">Manage Contact</a>
                <a class="nav-link highlight-files @GetActiveClass("/manage-accounts")" href="/manage-accounts">Manage Accounts</a>
                <a class="nav-link @GetActiveClass("/sort-payee-list")" href="/sort-payee-list">Sort Payee List</a>
                <a class="nav-link @GetActiveClass("/nickname-payees")" href="/nickname-payees">Nickname Payees</a>
            </div>
        </div>
    </div>
</div>

@code {
    private string GetActiveClass(string path)
    {
        var uri = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        return uri.Equals(path.TrimStart('/'), StringComparison.OrdinalIgnoreCase) ? "active" : "";
    }
}
